# Dependências e Compilação
/backend/node_modules
/frontend/node_modules
/node_modules
/dist
/build

# Logs e Cache
npm-debug.log*
.npm
.eslintcache
*.tsbuildinfo

# Arquivos Sensíveis
.env

# Arquivos de Sistema
.DS_Store